{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
	<div class="container-fluid">
		<div class="row">
{% include 'admin.menu.html.twig' %}
			<main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
			    <header>
			        <h1 class="text-center">
{{'user' | trans }} : {{ userForm.vars.value.username }}
			        </h1>
			        <div class="container">
			            <div class="col-12">
			                <div class="card p-3 mb-3">
{{ 'jumbo_explication_cats' | trans | markdown_to_html }}
			                </div>
			            </div>
			        </div>
			    </header>
{% endblock %}
				<div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
					<div class="row mb-2">
						<div class="col-12">
							<a href="{{ path('user_admin') }}" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'users' | trans | lower }}</a>
							<a href="{{ path('user_delete', {'id' : userForm.vars.value.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation"><i class="bi bi-trash"></i> {{ 'delete' | trans }}</a>
							<a href="{{ path('user_edit_category', {'id' : userForm.vars.value.id}) }}" class="btn btn-info btn-sm" ><i class="bi bi-list-task"></i> {{ 'edit_category' | trans }}</a>
						</div>
					</div>
					<div class="row mt-3 mb-2">
						<div class="col-2">
							<div class="card">
								<div class="card-body d-flex justify-content-center">
									<h2 class="avatar bg-primary d-none d-lg-block">
{{ userForm.vars.value.firstname | first | capitalize }}{{ userForm.vars.value.lastname | first | capitalize }}</h2>
								</div>
							</div>
						</div>
						<div class="col-10">
							<div class="card">
								<div class="card-body">
{% form_theme userForm 'bootstrap_4_layout.html.twig' %}
{{ form(userForm) }}
								</div>
							</div>
						</div>
					</div>
{% if user.bannedFrom.count > 0 %}
					<div class="row mt-3 mb-2">
						<div class="col-2">
						</div>
						<div class="col-10">
							<div class="card">
								<div class="card-body">
{% for workshop in user.bannedFrom %}
									<a class="btn btn-outline-warning" style="color: black" href="{{ path('report_unban', {'idWorkshop': workshop.id, 'idUser':user.id}) }}">{{ 'ban.deban'|trans}}: {{ workshop.name }}</a>
{% endfor %}
								</div>
							</div>
						</div>
					</div>
{% endif %}
				</div>
			</main>
		</div>
	</div>
{% endblock %}
