{% extends '../base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %} - 
    {{ 'reset.password'  | trans}}
{% endblock %}
{% block body %}
<body id="public">
{% include '../menu.html.twig' %}
{% block header %}
{% include '../header.html.twig' %}
{% endblock %}
    <main role="login" id="login">
        <div class="container">
{% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
    <h2>{{ 'reset.password' | trans }}</h2>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
        <p>{{ 'reinitialisation_message' | trans }}</p>
        <button class="btn btn-primary">{{ 'send.reset.email' | trans }} </button>
    {{ form_end(requestForm) }}
    </div>
    </main>
{% endblock %}