{% extends '../base.html.twig' %}

{% block title %}{{ 'reset.password'  | trans}}{% endblock %}

{% block body %}
    <main role="main">
        <div class="container">
            <h1>{{ 'reset.password'  | trans}}</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">{{ 'reset.password'  | trans}}</button>
            {{ form_end(resetForm) }}</div>
    </main>
{% endblock %}
