{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
{% include 'header.html.twig' %}
{% endblock %}
    <main role="login" id="login">
        <div class="container">
            <h2 class="mb-3">{{'email.sent' | trans }}</h2>
            <div class="card col-12 mb-4">
                <div class="card-body">
{{'message-email.sent' | trans | markdown_to_html }}
                </div>
            </div>
                <main role="main">
        <div class="container">
            <p>
{{ 'jumbo_email_sent' | trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>{{jumbo_email_sent.2 | trans ({'%link_start%' : '<a href="'~path('app_forgot_password_request')~'">', '%link_end%' : '</a>'}) | raw }}</p>

        </div>
    </main>
{% endblock %}
