<div class="row mb-2" >
{% if app.user and workshop.voteStatus %}
    {% if not is_granted('ROLE_USER')  %}
        <div class="col-12">
            {{ 'warning_anonymous' | trans | markdown_to_html }}
        </div>
    {% endif %}

    {% set delegationInThisTheme = false %}
    {% for delegation in app.user.delegationsTo if not delegationInThisTheme %}
        {% if delegation.theme and delegation.theme.id == workshop.theme.id %}
            {% set delegationInThisTheme = true %}
        {% endif %}
    {% endfor %}

{# Vote pour soi si si pas de délégation #}
    {% if not delegationInThisTheme %}
        <div class="col-12">
            <div class="inline-group" id="voteButtons">
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}"
                   class="btn btn-success voteForMe"
                   type="button" id="votedFor" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}"
                   aria-expanded="false">
                    {{ 'for' | trans }}
                </a>
                <a  href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}"
                    class="btn btn-danger voteForMe"
                    type="button" id="votedAgainst" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}"
                    aria-expanded="false">
                    {{ 'against' | trans }}
                </a>
                <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}"
                   class="btn btn-outline-secondary voteForMe"
                   type="button" id="votedBlank" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}"
                   aria-expanded="false">
                    {{ 'withholding' | trans }}
                </a>
            </div>
        </div>
{# Vote avec select s'il y a des délégations #}
    {% else %}
        <div class="col-12">
            <div class="inline-group">
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'for' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor', 'user' : app.user.id }) }}" class="dropdown-item voteForMe">
                            {{ 'vote.me' | trans }}
                        </a>
                        <a href="{{ path('vote_add_all_delegations', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedFor' }) }}" class="dropdown-item voteForDelegations">
                            {{ 'vote.delegations' | trans }}
                        </a>
                    </div>
                </div>
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-danger" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'against' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst', 'user' : app.user.id }) }}" class="dropdown-item voteForMe">
                            {{ 'vote.me' | trans }}
                        </a>
                        <a href="{{ path('vote_add_all_delegations', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedAgainst' }) }}" class="dropdown-item voteForDelegations">
                            {{ 'vote.delegations' | trans }}
                        </a>
                    </div>
                </div>
                <div class="dropdown" style="float:left;">
                    <button class="btn btn-outline-secondary" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'withholding' | trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}" data-path="{{ path('vote_add', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank', 'user' : app.user.id }) }}" class="dropdown-item voteForMe">
                            {{ 'vote.me' | trans }}
                        </a>
                        <a href="{{ path('vote_add_all_delegations', {'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedBlank' }) }}" class="dropdown-item voteForDelegations">
                            {{ 'vote.delegations' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {# Supprimer son vote #}
    <div class="col-12">
        <div class="row mb-2" >
            <div class="col-12" id="deleteVoteAppendHere">
                {% if proposal.votedByUser(app.user) %}
                    <a id="deleteVoteMe" href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" data-path="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" class="btn btn-light ml-1 btn-sm deleteVoteMe">
                        <i class="bi bi-trash"></i> {{ 'vote-delete' | trans }}
                    </a>
                {% endif %}
                {% if app.user.delegationsTo.count > 0 %}
                    {% if proposal.votedByUser(app.user.delegationsTo[0].userFrom) %}
                        <a id="deleteVoteDelegations" href="{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}" data-path="{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}" class="btn btn-light ml-1 btn-sm deleteVoteDelegations">
                            <i class="bi bi-trash"></i> {{ 'vote-delegation-delete-all' | trans }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    {# Si le vote n'est plus possible, on affiche la liste des votants en avatars si le vote n'est pas anonyme. S'il est anonyme, on affiche un texte d'explication #}
{% elseif date(workshop.dateVoteEnd) < date() %}
    <div class="col-12">
        {% if workshop.anonymousVote is same as(false) %}
            {{ jumbo_votants | trans | markdown_to_html }}
        {% else %}
            {{ 'warning_anonymous' | trans | markdown_to_html }}
        {% endif %}
    </div>
{% endif %}
</div>


{# AJAX pour voter/supprimer sans recharger la page #}
<script>
{# On récupère les chemins qu'on affecte dans des variables car les {{ }} posent problème dans le HTML qu'on .append ci-dessous #}
let voteMeDeletePath = '{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}';
let voteMeDeleteTrans = ' {{ 'vote-delete' | trans }}';
let voteDelegationsDeletePath = '{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}';
let voteDelegationsDeleteTrans = ' {{ 'vote-delegation-delete' | trans }}';


{# Vote pour soi même #}
$(document).on('click', '.voteForMe', function (event){
    event.preventDefault();
    $.ajax({
        url: $(this).data('path'),
        type: 'POST',
        dataType: 'html',
        success: function (){
            if( $('#deleteVoteMe').length === 0 ) {
                $('<a id="deleteVoteMe" href="' + voteMeDeletePath + '" data-path="' + voteMeDeletePath + '" class="btn btn-light ml-1 btn-sm deleteVoteMe"> <i class="bi bi-trash"></i>' + voteMeDeleteTrans + '</a>').appendTo('#deleteVoteAppendHere');
            }
            alert('Vote pris en compte');
        },
        error: function (resultat, statut, erreur) {
            console.error(erreur);
        }
    });
});

{# NE FONCTIONNE PAS, A CAUSE DES CONDITIONS BOUCLE FOR ET IF
{# Vote pour délégations
$(document).on('click', '.voteForDelegations', function (event){
    event.preventDefault();
    $.ajax({
        url: $(this).data('path'),
        type: 'POST',
        dataType: 'html',
        success: function (){
            if( $('#deleteVoteDelegations').length === 0 ) {
                $('<a id="deleteVoteDelegations" href="' + voteDelegationsDeletePath + '" data-path="' + voteDelegationsDeletePath + '" class="btn btn-light ml-1 btn-sm deleteVoteDelegations"> <i class="bi bi-trash"></i>' + voteDelegationsDeleteTrans + '</a>').appendTo('#deleteVoteAppendHere');
            }
            alert('Vote pris en compte');
        },
        error: function (resultat, statut, erreur) {
            console.error(erreur);
        }
    });
});
#}


{# Supprimer vote soi même #}
$(document).on('click', '.deleteVoteMe', function (event){
    event.preventDefault();
    $.ajax({
        url: $(this).data('path'),
        type: 'POST',
        dataType: 'html',
        success: function (){
            $('#deleteVoteMe').remove();
            alert('Vote supprimé !');
        },
        error: function (resultat, statut, erreur) {
            console.error(erreur);
        }
    });
});

{# Supprimer vote délégations #}
$(document).on('click', '.deleteVoteDelegations', function (event){
    event.preventDefault();
    $.ajax({
        url: $(this).data('path'),
        type: 'POST',
        dataType: 'html',
        success: function (){
            $('#deleteVoteDelegations').remove();
            alert('Votes supprimés !');
        },
        error: function (resultat, statut, erreur) {
            console.error(erreur);
        }
    });
});

</script>