{% set delegationInThisTheme = 0 %}
{% for delegation in app.user.delegationsTo %}
	{% if delegation.theme and delegation.theme.id == workshop.theme.id %}
		{% set delegationInThisTheme = delegationInThisTheme + 1 %}
	{% endif %}
{% endfor %}

<div class="card">
	<div class="card-body">
		{% if workshop.theme.category.users.contains(app.user) %}
			{{ workshop.theme.voteType }}
			{% if delegationInThisTheme == 0 %}
				<p>Vous n'avez pas de délégation dans cet atelier</p>
			{% elseif delegationInThisTheme == 1 %}
				<p>Vous avez {{ delegationInThisTheme }} délégation dans cet atelier</p>
			{% else %}
				<p>Vous avez {{ delegationInThisTheme }} délégations dans cet atelier</p>
			{% endif %}

			{% if workshop.theme.voteType == 'levelled-3' %}
				{% include 'vote/levelled-3.html.twig' %}
			{% elseif workshop.theme.voteType == 'weighted' %}
				{% include 'vote/weighted.html.twig' %}
			{% elseif workshop.theme.voteType == 'levelled-5' %}
				{% include 'vote/levelled-5.html.twig' %}
			{% endif %}
		{% endif %}
	</div>
</div>