<div class="row mb-2">
{# Variable qui calcule les points à donner pour l'utilisateur #}
{% set pointsADonner = workshop.theme.points %}
{# Variable qui calcule les points à donner pour les délégations #}
{% set pointsADonner2 = workshop.theme.points %}

{% for proposal in workshop.proposals %}
    {% for vote in proposal.votes %}
        {% if app.user is same as(vote.user) %}
            {% set pointsADonner = pointsADonner - vote.votedPoints %}
        {% endif %}
    {% endfor %}
{% endfor %}

{# On vérifie si l'utilisateur a une délégation dans ce thème #}
{% set delegationInThisTheme = false %}
{% for delegation in app.user.delegationsTo if not delegationInThisTheme %}
    {% if delegation.theme and delegation.theme.id == workshop.theme.id %}
        {% set delegationInThisTheme = true %}
    {% endif %}
{% endfor %}

<script src="{{ asset('js/scriptWeightedVote.js') }}"></script>


    <div class="col-12">
{% if app.user and date(workshop.dateVoteEnd) >= date() %}
{# Le select, pour choisir avec qui on vote #}
        <select id="selection{{ proposal.id }}" style="max-height: 25px">
            <option value="">{{ 'vote.as' | trans }}</option>
            <option value="{{ app.user.id }}">{{ 'vote.me' | trans }}</option>
    {% if app.user.delegationsTo.count > 0 %}
        {% set j = 0 %}
        {% for delegation in app.user.delegationsTo %}
            {% if (delegation.theme and delegation.theme.id == workshop.theme.id) and j == 0 %}
            <option value="{{ delegation.userFrom.id }}">{{ 'vote.delegations' | trans }}</option>
                {% set j = 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
        </select>
{# Affichage du formulaire #}
        <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
            <span>{{ 'points.remaining'|trans }} {{ pointsADonner }}</span>
            <form id="form" method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                <input type="number" name="selectPoints{{ proposal.id }}" min="0" max="{{ pointsADonner }}"/>
                <input type="submit" value="Je vote" />
            </form>
        </article>
        <script>initialise({{ proposal.id }})</script>



            {# si on a des delegations #}
            {% if app.user.delegationsTo.count > 0 %}
                {% for delegation in app.user.delegationsTo %}
                    {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                         <article id="VoteDelegation{{ delegation.userFrom.id ~ proposal.id}}">
                             <span>{{ 'points.remaining'|trans }} {{ pointsADonner2 }}</span>
                             <form id="form" method="POST" action="{{ path('vote_add_all_delegations',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints' }) }}" >
                                 <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                                 <input type="number" name="selectPoints{{ proposal.id }}" id="selectPoints{{ proposal.id ~ delegation.userFrom.id }}" min="0" max="{{ pointsADonner2 }}"/>
                                 <input type="submit" value="Je vote" />
                             </form>
                         </article>
                        <script>initialise({{ proposal.id }})</script>
                    {% endif %}

                {% endfor %}
            {# si ya pas de délégations #}
            {% else %}
                <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
                    <span>{{ 'points.remaining'|trans }} {{ workshop.theme.points }}</span>
                    <form id="form" method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                        <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                        <input type="number"  name="selectPoints{{ proposal.id }}" id="selectPoints{{ proposal.id ~ app.user.id }}" min="0" max="{{ workshop.theme.points }}" />
                        <input type="submit" value="Je vote" />
                    </form>
                </article>
                <script>initialise({{ proposal.id }})</script>
            {% endif %}
            {# -------------------------------------------------------------------------------------------------- #}
                                    {# Premier formulaire, voter en son nom #}
            {# -------------------------------------------------------------------------------------------------- #}

            {% for vote in proposal.votes %}
                {% if app.user.id is same as(vote.user.id) %}

                {% else %}

                    <article id="VoteDelegation{{ app.user.id ~ proposal.id}}">
                        <span>{{ 'points.remaining'|trans }}<p>{{ pointsADonner }}</p></span>
                        <form id="form" method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : app.user.id }) }}" >
                            <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                            <input id="points" type="number"  name="selectPoints{{ proposal.id }}" max="{{ pointsADonner }}" id="selectPoints{{ proposal.id ~ app.user.id }}"/>
                        </form>
                    </article>
                    <script>initialise({{ proposal.id }})</script>
                {% endif %}

            {% endfor %}


            {# -------------------------------------------------------------------------------------------------- #}
                                    {# Formulaires pour les délégations #}
            {# -------------------------------------------------------------------------------------------------- #}

            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    {% for vote in proposal.votes %}
                        {% if delegation.userFrom is same as(vote.user) %}
                            {# Pas de formulaire si on a deja voté avec ce compte, juste le nombre de points restant #}
                        {% else %}

                            <article id="VoteDelegation{{ delegation.userFrom.id ~ proposal.id}}">
                                <span>{{ 'points.remaining'|trans }} <p id="pMaxDelegation{{ delegation.userFrom.id ~ proposal.id}}"></p></span>
                                <form id="form" method="POST" action="{{ path('vote_add',{'slug' : slug, 'proposal' : proposal.id, 'userVote' : 'votedPoints', 'user' : delegation.userFrom.id }) }}" >
                                    <label for="selectPoints{{proposal.id}}">{{ 'points'|trans }}</label>
                                    <input id="points" type="number"  name="selectPoints{{ proposal.id }}" id="selectPoints{{ proposal.id ~ delegation.userFrom.id }}"/>
                                </form>
                            </article>
                            <script>initialise({{ proposal.id }})</script>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% endfor %}
    {% elseif app.user and date(workshop.dateVoteEnd) < date() %}
        {# Si le vote n'est plus possible, on affiche juste une icone #}
        <div class="btn vote-border ">{{ 'vote.close' | trans }}</div>
    {% endif %}


    {% if app.user and date(workshop.dateVoteEnd) > date() %}

     {#Supprimer son vote#}
        {% set i = 0 %}
        {% for vote in proposal.votes %}
            {% if app.user == vote.user %}
            <div class="row mb-2" >
                <div class="col-12" id="deleteVoteAppendHere">
                    <a id="deleteVoteMe" href="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" data-path="{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}" class="btn btn-light ml-1 btn-sm deleteVoteMe">
                        <i class="bi bi-trash"></i> {{ 'vote-delete' | trans }} ({{ vote.votedPoints }} points)</a>
                </div>
            </div>
            {% endif %}

            {% for delegation in app.user.delegationsTo %}
                {% if (delegation.theme and delegation.theme.id == workshop.theme.id) %}
                    {% if delegation.userFrom == vote.user and i == 0 %}
                    <div class="row mb-2">
                        <div class="col-12">
                            <a id="deleteVoteDelegations" href="{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}" data-path="{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}" class="btn btn-light ml-1 btn-sm deleteVoteDelegations">
                                <i class="bi bi-trash"></i> {{ 'vote-delegation-delete-all' | trans }} ({{ vote.votedPoints }} points/vote)</a>
                        </div>
                    </div>
                    {% set i = 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% endfor %}
    {% endif %}
</div>

</div>


<script>
    {# On récupère les chemins qu'on affecte dans des variables car les {{ }} posent problème dans le HTML qu'on .append ci-dessous #}
    let voteMeDeletePath = '{{ path('vote_delete',{'slug' : slug, 'proposal' : proposal.id}) }}';
    let voteMeDeleteTrans = ' {{ 'vote-delete' | trans }}';
    let voteDelegationsDeletePath = '{{ path('vote_delete_all_delegations',{'slug' : slug, 'proposal' : proposal.id}) }}';
    let voteDelegationsDeleteTrans = ' {{ 'vote-delegation-delete' | trans }}';


    {# Vote pour soi même #}
    $(document).on('click', '.voteForMe', function (event){
        event.preventDefault();
        $.ajax({
            url: $(this).data('path'),
            type: 'POST',
            dataType: 'html',
            success: function (){
                if( $('#deleteVoteMe').length === 0 ) {
                    $('<a id="deleteVoteMe" href="' + voteMeDeletePath + '" data-path="' + voteMeDeletePath + '" class="btn btn-light ml-1 btn-sm deleteVoteMe"> <i class="bi bi-trash"></i>' + voteMeDeleteTrans + '</a>').appendTo('#deleteVoteAppendHere');
                }
                alert('Vote pris en compte');
            },
            error: function (resultat, statut, erreur) {
                console.error(erreur);
            }
        });
    });

    {# NE FONCTIONNE PAS, A CAUSE DES CONDITIONS BOUCLE FOR ET IF
    {# Vote pour délégations
    $(document).on('click', '.voteForDelegations', function (event){
        event.preventDefault();
        $.ajax({
            url: $(this).data('path'),
            type: 'POST',
            dataType: 'html',
            success: function (){
                if( $('#deleteVoteDelegations').length === 0 ) {
                    $('<a id="deleteVoteDelegations" href="' + voteDelegationsDeletePath + '" data-path="' + voteDelegationsDeletePath + '" class="btn btn-light ml-1 btn-sm deleteVoteDelegations"> <i class="bi bi-trash"></i>' + voteDelegationsDeleteTrans + '</a>').appendTo('#deleteVoteAppendHere');
                }
                alert('Vote pris en compte');
            },
            error: function (resultat, statut, erreur) {
                console.error(erreur);
            }
        });
    });
    #}


    {# Supprimer vote soi même #}
    $(document).on('click', '.deleteVoteMe', function (event){
        event.preventDefault();
        $.ajax({
            url: $(this).data('path'),
            type: 'POST',
            dataType: 'html',
            success: function (){
                $('#deleteVoteMe').remove();
                alert('Vote supprimé !');
            },
            error: function (resultat, statut, erreur) {
                console.error(erreur);
            }
        });
    });

    {# Supprimer vote délégations #}
    $(document).on('click', '.deleteVoteDelegations', function (event){
        event.preventDefault();
        $.ajax({
            url: $(this).data('path'),
            type: 'POST',
            dataType: 'html',
            success: function (){
                $('#deleteVoteDelegations').remove();
                alert('Votes supprimés !');
            },
            error: function (resultat, statut, erreur) {
                console.error(erreur);
            }
        });
    });

</script>