<div class="tab-content" id="pills-tabContent">
    {# Ici le contenu des onglets #}
    <div class="tab-pane fade " id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">
        <h2>{{ 'your-threads' | trans }}</h2>
        {% for f in forums %}
            {% include 'edit-by-user/threads.html.twig' %}
        {% endfor %}
    </div>

    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab">
        <div class="card mt-3">
            <div class="card-body">
                {{ form_row(userForm.lastname) }}
                {{ form_row(userForm.firstname) }}
                {{ form_row(userForm.username) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.plainPassword) }}
                {{ form_row(userForm.isAllowedEmails) }}
                <div style="display: flex">
                    {{ form_row(userForm.Submit) }}
                    {{ form_end(userForm) }}

                    {% if not is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-danger pull-right" data-toggle="deleteConfirmation" style="height: 28%;margin-left: auto " href="{{ path('user_account_delete') }}">{{ 'delete.account'|trans }}</a>
                    {% endif %}

                </div>


            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
         aria-labelledby="pills-contact-tab">
        <h3>{{ 'your-proposals' | trans }}</h3>
        {% for p in proposals %}
            {% include 'edit-by-user/proposals.html.twig' %}
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="pills-category" role="tabpanel"
         aria-labelledby="pills-category-tab">
        <h3>{{ 'categories.mine'|trans }}</h3>
            <a href="{{ path('category_request') }}" style="color: white">{{ 'more.categories.request.2' |trans}}</a>
        {% for c in categories %}
            <div class="card text-center" style="margin-bottom: 15px">
                <div class="card-body">
                    <h5 class="card-title">{{ c.name }}</h5>
                    <p class="card-text">{{ c.description | raw }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="pills-workshops" role="tabpanel"
         aria-labelledby="pills-workshops-tab">
        <h3>{{ 'workshops' | trans }}</h3>
        {#{% if 'ROLE_ADMIN' not in app.user.roles %}
        <p>{{ 'more.categories.request' |trans({'%link_start%' : '<a href="'~path('category_request')~'">', '%link_end%' : '</a>'}) | raw }}
        </p>
        {% endif %}#}
        {% for w in workshops %}
            {% include 'edit-by-user/workshops.html.twig' %}
        {% endfor %}

    </div>


    {#{% if is_granted('ROLE_MODERATOR') %}
        <div class="tab-pane fade table-responsive-lg " id="pills-forums" role="tabpanel"
             aria-labelledby="pills-forums-tab">
            <div id="forum">
            </div>
        </div>




        <div class="tab-pane fade table-responsive " id="pills-reports" role="tabpanel"
             aria-labelledby="pills-reports-tab">

            <div id="js-reports"></div>
        </div>

    {% endif %}#}

</div>
