html,body 
{
	text-align : center;
}


main > .container
{
	padding: 2rem 1rem 0;
}

.form-signin 
{
	width: 100%;
	max-width: 360px;
	align-items: center;
	padding-bottom: 40px;
	margin: auto;
}
.form-signin .checkbox 
{
	font-weight: 400;
}
.form-signin .form-control 
{
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus 
{
	z-index: 2;
}
.form-signin input[type="email"] 
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] 
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

body#login .card-body {text-align: justify;}
p.bienvenue {font-size: 1.2em;font-weight: bold;}