{% set pointsTotal = 0 %}
    {% for votes in proposal.votes %}
        {% set pointsTotal = pointsTotal + votes.votedPoints %}
    {% endfor %}

{# Fin des calculs #}
<div class="card mb-2 pt-1 shadow w-100">
    <div class="card-header pl-3 pt-3">
        <div class="row">
            <div class="col-11">
                <a href="{{ path('proposal_index', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="card-link">
                    <h3>
{{ proposal.name }}
                    </h3>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body pt-2" id="proposal-{{proposal.id}}">
        <div class="row">
            <div class="col-8">
                <a href="{{ path('proposal_index', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="card-link">
{{ proposal.description | striptags | truncate(500, true) | raw }}
                </a>
            </div>
{% if app.user and app.user == proposal.user and date() <= date(workshop.dateForumEnd) %}
            <div class="col-1">
                <div class="btn-group mb-3" role="group">
                    <a href="{{ path('proposal_edit', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn bg-primary nav-link btn-sm">
                        <i class="bi bi-file-earmark-font" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('proposal_delete', {'workshop' : workshop.id, 'theme' : workshop.theme.id, 'proposal' : proposal.id, 'slug' : slug}) }}" class="btn bg-danger nav-link btn-sm" data-toggle="deleteConfirmation">
                        <i class="bi bi-trash" aria-hidden="true"></i>
                    </a>
{% if workshop.voteStatus or workshop.forumStatus %}
                    <a href="{{ path('report_proposal', {'slug' : slug, 'idProposal': proposal.id}) }}" class="btn btn-light nav-link btn-sm" data-toggle="deleteConfirmation">
                        <i class="bi bi-flag"  title="{{ 'reporter'| trans }}"></i>
                    </a>
{% endif %}
                </div>
            </div>
            <div class="col-3">
{% else %}
            <div class="col-4">
{% endif %}
                    <ul class="list-group">
                        <li class="list-group-item">
{{ 'discussions' | trans }} : {{ proposal.forums |length }}
                        </li>
{% if is_granted ('ROLE_ADMIN_RESTRICTED') or is_granted ('ROLE_ADMIN') or date() > workshop.dateVoteEnd() %}
    {% if date() > workshop.dateVoteBegin() %}
                        <li class="list-group-item">
        {{ 'votes-number' | trans }} : {{ proposal.votes |length }}
                        </li>
    {% endif %}
{% endif %}
{% for votes in proposal.votes %}
    {% if votes.user is same as(app.user) %}
                        <li class="list-group-item text-warning">
        {{ 'vote.already'|trans }}{{ votes.votedPoints }} {{ 'points'|trans }}
                        </li>
    {% endif %}
{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
{# Si l'utilisateur est un administrateur restreint ou complet, ou si la date des votes est dépassée, on lui montre l'etat du quorum#}
{% if is_granted ('ROLE_ADMIN_RESTRICTED') or is_granted ('ROLE_ADMIN') or date() > workshop.dateVoteEnd() %}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item{% if pointsTotal >= (proposal.workshop.theme.points *  nbPossibleVoters) %} active{% endif %}">
    {{ 'points.total'|trans}} : {{ pointsTotal }}
                    </li>
                </ul>
{% endif %}

{# Une fois la période de vote finis, on montre qui vote quoi si l'atelier n'est pas anonyme #}
{% if  date() > workshop.dateVoteEnd() %}
    {% if workshop.anonymousVote is same as(false) %}
        {% for vote in proposal.votes %}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">
{{ vote.user.username }} : {{ vote.votedPoints }} {{ 'points'|trans }}
                    </li>
                </ul>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
        </div>
    </div>
</div>