<div class="row">
    <div class="card mt-3 shadow-lg">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="card-img2">
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                        <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}">
{% else %}
                        <img class="bd-placeholder-img card-img-top img-fluid" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
{% endif %}
{% elseif workshop.theme.image %}
    {% if workshop.theme.image|split('.')|last is same as('svg') %}
                        <img  src="{{ asset('img/upload/themes/'~ workshop.theme.image)}}" class="bd-placeholder-img card-img-top img-fluid">
    {% else %}
                        <img class="bd-placeholder-img card-img-top img-fluid" src="{{ vich_uploader_asset(workshop.theme, 'imageFile') | imagine_filter('themes_home') }}"/>
    {% endif %}
{% else %}
                        <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/logo_aem-lg.png') }}"/>
{% endif %}
                    </div>
                </div>
                <div class="col-lg-10 col-sm-8 col-xs-6">
                    <div class="card-text">
{{ workshop.description | striptags | truncate(500, true) | raw }}
                        <p><small class="text-muted">
{% for k in workshop.keywords %}
    #{{ k.name }}
{% endfor %}
                        </small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-3">{{ 'date_forum_begin' | trans }} : {{ workshop.dateForumBegin | format_datetime('full', 'none', locale='fr') }}</div>
                <div class="col-lg-3">{{ 'date_forum_end' | trans }} : {{ workshop.dateForumEnd | format_datetime('full', 'none', locale='fr') }}</div>
                <div class="col-lg-3">{{ 'date_vote_begin' | trans }} : {{ workshop.dateVoteBegin | format_datetime('full', 'none', locale='fr') }}</div>
                <div class="col-lg-3">{{ 'date_vote_end' | trans }} : {{ workshop.dateVoteEnd | format_datetime('full', 'none', locale='fr')}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
{% if workshop.forumStatus %}{{ 'forum.open' | trans }}{% else %}{{ 'forum.close' | trans }} {% endif %}
                </div>
                <div class="col-lg-6">
{% if workshop.voteStatus %}{{ 'vote.open' | trans }}{% else %}{{ 'vote.close' | trans }} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>