<tr>
    <td>
        {% if workshop.image %}
            {% if workshop.image|split('.')|last is same as('svg') %}
                <img  src="{{ asset('img/upload/workshops/'~ workshop.image)}}" width="20px" height="20px" >
            {% else %}
                <img src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_list')}}" />
            {% endif %}
        {% else %}
            <img src="{{ asset('img/logo_aem-sm.png')}}" />
        {% endif %}
    </td>
    <td>{{ workshop.id}}</td>
    <td>{{ workshop.theme.name}}</td>
    <td>
        <a href="{{ path('workshop_edit', {'workshop' : workshop.id}) }}" class="text-primary">{{ workshop.name}}
        </a>
    </td>
    <td>{% if (workshop.description) | length > 200 %}{{ workshop.description | truncate(200, true) | raw }}{% else %}{{ workshop.description | raw }}{% endif %}</td>
    <td>
        <a href="{{ path('workshop_edit', {'workshop' : workshop.id}) }}" class="text-primary">
            <i class="bi bi-list-task"></i>
        </a>
    </td>
    <td>
        <a href="{{ path('workshop_copy', {'workshopId':workshop.id}) }}" class="text-primary">
            <i class="bi bi bi-back"></i>
        </a>
    </td>
    <td>
        <a href="{{ path('workshop_delete', {'workshop' : workshop.id}) }}" class="text-primary"  data-toggle="deleteConfirmation">
            <i class="bi bi-trash"></i>
        </a>
    </td>
</tr>