{% if workshop.documents | length != 0 %}
    <h4>{{ 'documents' | trans }}</h4>
    <ul class="list-inline">
    {% for doc in workshop.documents %}
        <!-- Button trigger modal -->
        <li type="button" class="list-inline-item btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
            {{doc.name}}
        </li>
        <div class="modal fade modal-tall" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="height:85%!important">
                    <div class="modal-body">
                        <object type="application/pdf" width="100%" height="100%" data="{{ asset('pdf/upload/workshops/') ~ doc.path }}" >
                        </object>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
