{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
{{'workshop' | trans }} : {{ workshop.name}}
                    </h1>
                    <div class="container">
                        <div class="col-12">
                            <div class="card p-3 mb-3">
{{ 'jumbo_explication_docs' | trans | markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </header>
{% endblock %}
                <div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
                    <div class="row mb-2">
                        <div class="col-12" style="display:flex;">
                            <a href="{{ path('workshop_edit', {'workshop' : workshop.id})}}" class="btn btn-secondary btn-sm">
                                <i class="bi bi-arrow-bar-left"></i> {{'workshop' | trans }} : {{ workshop.name}}
                            </a>
                            <a href="{{ path('workshop_add_document', {'workshop' : workshop.id}) }}" class="btn btn-info btn-sm" style="margin-left:auto;">
                                <i class="bi bi-plus-square"></i> {{ 'add_document' | trans }}
                            </a>
                        </div>
                    </div>
                    <div class="row mt-3 mb-5" >
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
{% if workshop.documents.count != 0 %}
                                    <div class="table-responsive">
                                        <table class="table table-centered" style="width:100%;">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width:6%;">&nbsp;</th>
                                                    <th style="width:5%;">{{ 'id' | trans }}</th>
                                                    <th style="width:77%;">{{ 'name' | trans }}</th>
                                                    <th style="width:8%;">{{ 'delete' | trans }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
    {% for document in workshop.documents %}
                                                <tr>
                                                    <td>
                                                         <a href="{{ asset("pdf/upload/workshops/") ~ document.path  }}">
                                                            <i class="bi bi-file-pdf"></i>
                                                        </a>
                                                    </td>
                                                    <td>
    {{ document.id }}</td>
                                                    <td>
                                                        <a href="{{ asset("pdf/upload/workshops/") ~ document.path  }}">{{ document.name }}</a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ path('workshop_delete_document',{'workshop' : workshop.id , 'document' : document.id}) }}">
                                                            <i class="bi bi-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

{% else %}
                                    <p>
{{ 'no-document' | trans }}
                                    </p>
{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
