{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'admin' | trans }}
{% endblock %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}
    <div class="container-fluid">
        <div class="row">
{% include 'admin.menu.html.twig' %}
            <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
{% block header %}
                <header>
                    <h1 class="text-center">
            {{'workshop' | trans }} : {{ form.vars.value.name }}
                    </h1>
                </header>
{% endblock %}
            	<div class="container mt-3 mb-5">
{% include 'flashbag.html.twig' %}
            		<div class="row">
            			<div class="col-12">
            				<div class="row mb-2" >
            					<div class="col-12" style="display:flex">
            						<a href="{{ path('workshop_admin') }}" class="btn btn-secondary btn-sm">
                                        <i class="bi bi-arrow-bar-left"></i> {{ 'list_of' | trans }} {{ 'workshops' | trans | lower }}
                                    </a>
            						<a href="{{ path('workshop_add_document', {'workshop' : form.vars.value.id}) }}" class="btn btn-info btn-sm" style="margin-left:auto;">
                                        <i class="bi bi-plus-square"></i> {{ 'add_document' | trans }}
                                    </a>
            						<a href="{{ path('workshop_edit_document', {'workshop' : form.vars.value.id}) }}" class="btn btn-info btn-sm">
                                        <i class="bi bi-lis-task"></i> {{ 'edit_document' | trans }}
                                    </a>
                                    <a href="{{ path('workshop_delete', {'workshop' : form.vars.value.id}) }}" class="btn btn-danger btn-sm" data-toggle="deleteConfirmation">
                                        <i class="bi bi-trash"></i> {{ 'delete' | trans }}
                                    </a>
            					</div>
            				</div>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
                            <div class="row">
                                <div class="col-lg-12 ml-sm-auto">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="card mt-3">
                                                <div class="card-body">
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                                                    <img  src="{{ asset('img/upload/workshops/'~ workshop.image)}}" class="img-fluid" alt="{{ workshop.name }}" style="padding-bottom: 30px" >
    {% else %}
        									        <img src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('themes_home')}}" class="img-fluid" alt="{{ workshop.name }}" style="padding-bottom: 30px"/>
    {% endif %}
                                                    <input id="fauxBoutonSupprimer" class="parDessusSupprimer btn btn-danger btn-sm" type="button" value="{{ 'delete'|trans }}">
                                                    <article class="invisibleInput" >
    {{ form_row(form.imageFile) }}
                                                    </article>
{% else %}
            									   <img src="{{asset('img/logo_aem-lg.png')}}" class="img-fluid" alt="logo" style="padding-bottom: 20px"/>
                                                    <input id="fauxBouton" class="parDessus btn btn-secondary btn-sm" type="button" value="{{ 'choose'| trans }}">
                                                    <article class="invisibleInput" >
{{ form_row(form.imageFile) }}
                                                    </article>
{%	endif %}
                							 </div>
            						      </div>
            					       </div>
                                        <div class="col-lg-9 col-md-8 col-sm-12">
                                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                                                 aria-labelledby="pills-profile-tab">
                                                <div class="card mt-3">
                                                    <div class="card-body">
{{ form_row(form.theme) }}
            								            <div>{{ 'category' | trans }} :
            									           <span id="js_category_theme_name">
                                                            </span>
            								            </div>
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.dateForumBegin) }}
{{ form_row(form.dateForumEnd) }}
{{ form_row(form.dateVoteBegin) }}
{{ form_row(form.dateVoteEnd) }}
{{ form_row(form.rightsVoteProposals) }}
{{ form_row(form.quorumRequired) }}
{{ form_row(form.writeProposals) }}
{{ form_row(form.anonymousVote) }}
{{ form_row(form.rightsDelegation) }}
{{ form_row(form.keytext) }}
            								            <div>{{ 'keyword' | trans }} :
            									           <span id="js_keywords">
                                                            </span>
            								            </div>
{{ form_end(form) }}
                                                    </div>
            		              				</div>
                        					</div>
            		              		</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{#  On a besoin de la version non slim de jquery pour avoir acces a l'ajax 
			 <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>#}
<script >



//Adapte la valeur de la checkbox "Délegation autorisée" en fonction du Theme selectionné
let checkbox = document.getElementById('workshop_rightsDelegation');
let selectTheme = document.getElementById('workshop_theme');

//Premiere mise à jour de la checkbox au chargement de la page, au cas ou l'utilisateur ne change pas le theme
checkbox.checked = false;
{% for themeDeleg in themesDelegation %}
        if({{ themeDeleg.id }} == selectTheme.value){
            checkbox.checked = true;
        }
    {% endfor %}

//Mise à jour de la checkbox à chaque changement de theme
    selectTheme.onchange = function (){
     checkbox.checked = false;

    {% for themeDeleg in themesDelegation %}
        if({{ themeDeleg.id }} == selectTheme.value){
            checkbox.checked = true;
        }
    {% endfor %}
}

//Coche ou non la case "Accepter les nouvelles proposition" suivant si c'est le cas ou non
let checkboxAccept = document.getElementById('workshop_writeProposals');

    {% if workshop.rightsWriteProposals == 'everyone' %}
     checkboxAccept.checked = true;
     {% else %}
      checkboxAccept.checked = false;
    {% endif %}


$('form').submit(function(e) {
    $(':disabled').each(function(e) {
        $(this).removeAttr('disabled');
    })
});



$(document).ready(function () {
    let theme = $('#workshop_theme option:selected').text();
    $.ajax({
        url: '{{ path('category_ajax_theme') }}/'+theme,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_category_theme_name' ).html("<span class='spinner-border'></span>");
        },
        success: function (data,status) {
            console.log(data);
             $('#js_category_theme_name' ).html("<strong>"+data[0].category+"</strong>");
        },
        error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
    });



    $('#workshop_theme').on('change',function () {
       theme = $('#workshop_theme option:selected').text();
    $.ajax({
        url: '{{ path('category_ajax_theme') }}/'+theme,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_category_theme_name' ).html("<span class='spinner-border'></span>");
        },
        success: function (data,status) {
            console.log(data);
             $('#js_category_theme_name' ).html("<strong>"+data[0].category+"</strong>");
        },
        error: function (xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
    });
   })

      $('#workshop_keytext').on('input',function () {
       let text = $('#workshop_keytext').val();
       let textArray = text.split(',');
       let length = textArray.length;
       text = textArray[length-1];
       text = text.toLowerCase().trim();
       console.log(text);
       if (text !== '')
           {
           $.ajax({
        url:"{{ path('keywords_ajax_call') }}/"+text,
        type: 'POST',
        dataType: 'json',
        async: true,
        beforeSend: function(){
             $('#js_keywords').html("<span class='spinner-border'></span>");
        },
        afterSend:  function(){
        },
        success: function (data,status) {
                         $('#js_keywords').html(' ');
            data.map((e) => {
              $('#js_keywords').append("<span class='keyword-suggest'>#"+e.key+" </span>");
            })
       let keyAnchors = $('.keyword-suggest');
            keyAnchors.on('click',function () {
                let chosenWord = $(this).text().slice(1);
                 let currentInput = textArray.join(',');
                 currentInput = currentInput.slice(0,-text.length);
                 $('#workshop_keytext').val(currentInput+chosenWord+',');
            })
        },
        error: function (xhr, textStatus, errorThrown) {
                    console.log('Ajax request failed.');
                }
    })}
   });


})

//Permet de soumettre le formulaire dès le changement de photo
$('.custom-file-input').on('change', function(event) {
    let form = document.getElementById('form_upload');
    form.submit();
});
//Permet de soumettre le formulaire dès le click sur "Supprimer" sous photo
let checkSupprimer = document.getElementById('workshop_imageFile_delete');
checkSupprimer.onchange = function (){
     let form = document.getElementById('form_upload');
    form.submit();
}

</script>
{% endblock %}