<div class="card-columns">
    {% for workshop in workshops %}

    <div class="col-xl-6 col-sm-12 mb-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}"
           class="card-link">
                    {% if workshop.image %}
                        {% if workshop.image|split('.')|last is same as('svg') %}
                            <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}"  >
                        {% else %}
                            <img class="bd-placeholder-img card-img-top img-fluid" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
                        {% endif %}
                    {% else %}
                        {% if theme.image %}
                            {% if theme.image|split('.')|last is same as('svg') %}
                                <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/themes/'~ theme.image)}}"  >
                            {% else %}
                                <img class="bd-placeholder-img card-img-top img-fluid" src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('workshops_home') }}"/>
                            {% endif %}
                        {% else %}
                            <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/logo_aem.png') }}"/>
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="{{ (app.request.get('view') == "tile")  ? "col-12" : "col-5" }}">
                            <a href="{{ path('workshop_show', {'workshop' : workshop.id, 'slug' : slug ~ "_" ~ workshop.name | slugify }) }}" class="card-link">
                                <h3 class="card-theme-title">{{ workshop.name }}</h3>
                            </a>
                            {{ workshop.description }}
                        </div>
                    </div>
                    <hr/>
                    <div class="d-flex bd-highlight mb-3">
                        <div class="mr-auto p-2 bd-highlight">{{ workshop.dateForumBegin | format_datetime('full', 'none', locale='fr') }}</div>
                        <div class="p-2 bd-highlight">{{ workshop.dateForumEnd | format_datetime('full', 'none', locale='fr') }}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             style="width: {{ progress(workshop.dateForumBegin, workshop.dateForumEnd) }}%;"
                             aria-valuenow="{{ progress(workshop.dateForumBegin, workshop.dateForumEnd) }}"
                             aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
        </div>
    </div>
        </div>
