<div class="row">
     <div class="card mx-auto col-sm-12 col-lg-12 col-xl-12" >
        <div class="row g-0">
            <div>
{% if workshop.image %}
    {% if workshop.image|split('.')|last is same as('svg') %}
                <img class="bd-placeholder-img card-img-top img-fluid" src="{{ asset('img/upload/workshops/'~ workshop.image)}}" width="250px" height="250px">
{% else %}
                <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshops_home') }}"/>
{% endif %}
{% elseif workshop.theme.image %}
    {% if workshop.theme.image|split('.')|last is same as('svg') %}
                <img  src="{{ asset('img/upload/themes/'~ workshop.theme.image)}}" class="bd-placeholder-img card-img-top img-fluid" width="250px" height="250px">
    {% else %}
                <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(workshop.theme, 'imageFile') | imagine_filter('themes_home') }}"/>
    {% endif %}
{% else %}
                <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ asset('img/logo_aem-lg.png') }}"/>
{% endif %}
            </div>
            <div class="col-md-9">
                <div class="card-body">
{{ workshop.description | raw }}
                    <p class="card-text">
                        <small class="text-muted">
{% for k in workshop.keywords %}
    {% if app.user %}
                            <a href="{{ path('workshop_tags',{'id':k.id}) }}">
    {% endif %} 
                                #{{ k.name }}
    {% if app.user %}
                            </a>
    {% endif %}
{% endfor %}
                        </small>
                    </p>
                    <p>
{% include 'workshop/document-view.html.twig' %}
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-3">{{ 'date_forum_begin' | trans }} : {{ workshop.dateForumBegin | format_datetime('full', 'none', locale='fr') }}</div>
                    <div class="col-lg-3">{{ 'date_forum_end' | trans }} : {{ workshop.dateForumEnd | format_datetime('full', 'none', locale='fr') }}</div>
                    <div class="col-lg-3">{{ 'date_vote_begin' | trans }} : {{ workshop.datevoteBegin | format_datetime('full', 'none', locale='fr') }}</div>
                    <div class="col-lg-3">{{ 'date_vote_end' | trans }} : {{ workshop.datevoteEnd | format_datetime('full', 'none', locale='fr') }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        {% if workshop.forumStatus %}{{ 'forum.open' | trans }}{% else %}{{ 'forum.close' | trans }} {% endif %}
                    </div>
                    <div class="col-lg-6">
                        {% if workshop.voteStatus %}{{ 'vote.open' | trans }}{% else %}{{ 'vote.close' | trans }} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
