{% extends 'base.html.twig' %}
{% block body %}
<body class="config">
{% include 'menu.html.twig' %}		
{% block header %}
	<header>
		<h1 class="text-center">{{'dashboard' | trans }}</h1>
	</header>
{% endblock %}
	<main id="delegation-content">
		<div class="container-fluid">
{% include 'flashbag.html.twig' %}
			<div class="row">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h2 class="h4">{{'delegations' | trans }}</h2>
				</div>
				<div class="row">
					<div class="col-12">
						{{ form(form, {'attr' : { 'class' : 'col-10'}}) }}
					</div>
				</div>
			</div>
		</div>
	</main>


	{% endblock %}