{% extends 'base.html.twig' %}

{% block title %}Hello KeywordController!{% endblock %}

{% block body %}
<body class="config">
<div class="container-fluid">
    {% include 'admin.menu.html.twig' %}
    <main id="admin" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="container">
        <h1 class="text-center">{{ 'keywords' | trans }}</h1>
    </div>
    <div class="row mb-2" style="display: grid; justify-content: center">
        <div class="col-12">
            {% for keyword in keywords %}
                <ul>
                    <li>{{ keyword }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
    </main>
</div>
</body>
{% endblock %}
