{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="col-12 mb-2" style="text-align: center">
			<div class="alert alert-{{ label }}">
				{{ message | trans }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	{% endfor %}
{% endfor %}