{% extends 'base.html.twig' %}
{% block body %}
    <body class="config">
    {% include 'menu.html.twig' %}
    {% block header %}
        <header>
            <h1 class="text-center">
                {{ 'cgu' | trans }}
            </h1>
            <div class="container">
                <div class="col-12">
                    <div class="card p-3 mb-3">
                        {{ 'jumbo_explication_cats' | trans | markdown_to_html }}
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    <main id="admin">

        <div class="container mt-3 mb-5">
            {% include 'flashbag.html.twig' %}

            <div class="row mb-2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            {{ cguMd | markdown_to_html }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    </body>



{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}

