{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr': {'id': 'form_upload'}}) }}
{{ form_row(form.category) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
<aside style="display: none">
    {{ form_row(form.imageFile) }}
</aside>


<div style="display: inline-flex">
    {{ form_row(form.isPublic) }}
    {{ form_row(form.isDelegation) }}
    <!-- Checkbox intégrée au form
    <div class="form-check">
        <input type="checkbox" name="delegationPossible" id="delegationPossible">
        <label for="delegationPossible">{# {{ 'delegation.authorize'|trans }} #}</label>
    </div>
    -->
</div>
{{ form_row(form.voteType) }}
{{ form_row(form.points) }}
{{ form_row(form.delegationDeepness) }}
{{ form_rest(form) }}

{{ form_end(form) }}

