<div class="card mt-3 shadow-lg">
    <div class="card-body" >
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-img2">
{% if theme.image %}
    {% if theme.image|split('.')|last is same as('svg') %}
                    <img class="bd-placeholder-img card-img-top img-fluid"  src="{{ asset('img/upload/themes/'~ theme.image)}}">
    {% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ vich_uploader_asset(theme, 'imageFile') | imagine_filter('themes_home') }}"/>
    {% endif %}
{% else %}
                    <img class="bd-placeholder-img card-img-top img-fluid" width="250" height="250" style="width:250px;height:250px;" src="{{ asset('img/logo_aem-lg.png') }}"/>
{% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-sm-6">
                <div class="card-text">
                    {{ theme.description | raw }}
                    <p><small class="text-muted">{{ 'in_category' | trans }}{{ theme.category.name }}</small></p>
                    <p><small class="text-muted">{{ 'vote_type' | trans }}{{ theme.voteType | trans }}</small></p>
                    {% if theme.isDelegation %}
                        <p><small class="text-muted">{{ 'rights.delegations' | trans }}</small></p>
                    {% else %}
                        <p><small class="text-muted">{{ 'no.rights.delegation' | trans }}</small></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>