{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<form method="post" class="form-signin">
    <img class="mb-4 bg-white" src="{{ asset('img/logo_aem.png') }}" alt width="72" height="72" />    
    
    <div class="mb-3">
	{{ 'error404' | trans }}.
	<br /><a href="{{ path('homepage') }}">{{ 'home' | trans }}</a>
    </div>
</form>
{% endblock %}
