{% extends 'base.html.twig' %}
{% block title %}
    {% if website.title %}
        {{ website.title }}
    {% else %}
        {{params.website.title}}
    {% endif %}
    - {{ 'forum' | trans }}
{% endblock %}
{% block body %}
{% set slug = app.request.get('slug') %}
<body id="public">
{% include 'menu.html.twig' %}
{% block header %}
    <header>
        <div class="container-fluid">
            <div class="d-flex justify-content-center align-content-center">
                <h1 class="align-content-center justify-content-center">
{{ 'add_thread' | trans }}
                </h1>
            </div>
        </div>
    </header>
{% endblock %}
    <main id="forum">
        <div class="container">
{% include 'proposal/overview.html.twig' %}
{% if workshop.forumStatus %}
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="btn-group" roles="group">
                                <a class="btn btn-primary" href="{{ path('proposal_index', {'workshop' : workshop.id, 'proposal' : proposal.id, 'slug' : app.request.get('slug') })}}">
                                    <i class="bi bi-arrow-left-short"></i>{{ 'back_to_proposal' | trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}
            <div class="row mt-2">
    		    <div class="col-lg-8 col-sm-6 mt-3">
{% if proposal.forums.count != 0 %}
    {% include 'forum/show-forums.html.twig' %}
{% else %}
                    <div class="card">
                        <div class="card-body">
                            {{ 'jumbo_warning_noforum' | trans | markdown_to_html }}
                        </div>
                    </div>
{% endif %}                </div>
                <div class="col-lg-4 col-sm-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{ 'your_thread' | trans}}</h3>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
